.animate-pulse {
	animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
	0%, 100% {
		transform: scale(.6);
	}

	50% {
		transform: scale(.5);
	}
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
	@apply bg-transparent;
}

::-webkit-scrollbar-thumb {
	@apply bg-gray-400 dark:bg-gray-600;
}

::-webkit-scrollbar-thumb:active {
	@apply bg-gray-500;
}